
{% extends '@AKYOSEasyCopro/BackOffice/Artisan/layout.html.twig' %}

{% block title %}
    Modification de votre profil ARTISAN

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}

    <h4>Modifier votre Profil :</h4>

    {{ form(form) }}
{% endblock %}

{% block scripts %}
{% endblock %}