{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% block title %}
    Modification ARTISAN
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <h4>Modifier un artisan :</h4>
    {{ form(form) }}
{% endblock %}

{% block scripts %}
{% endblock %}