<li class="non-active"><a href="{{ path('artisan_index') }}"><span class="glyphicon glyphicon-lock"></span> Accueil</a></li>
<li class="non-active"><a href="{{ path('artisan_show') }}"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
<li class="non-active"><a href=""><span class="glyphicon glyphicon-calendar"></span> Messagerie
        <span class="badge pull-right">3</span></a></li>
<li class="non-active"><a href=""><span class="glyphicon glyphicon-cog"></span> Préférences</a></li>