/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/uploads/*
!/web/uploads/avatar
/web/uploads/avatar/*
!web/uploads/avatar/.gitkeep
!web/uploads/copropriete
/web/uploads/copropriete/*
!web/uploads/copropriete/.gitkeep
!/web/uploads/document
/web/uploads/document/*
!web/uploads/document/.gitkeep

