{% extends '@AKYOSEasyCopro/BackOffice/Coproprietaire/layout.html.twig' %}

{% block title %}
    Modification de votre profil COPROPRIETAIRE
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <h4>Modifier votre Profil :</h4>
    {{ form(form) }}
{% endblock %}

{% block scripts %}
{% endblock %}