{% extends '@AKYOSEasyCopro/BackOffice/Coproprietaire/layout.html.twig' %}

{% set userType = app.user.type %}

{% block title %}
    {{ userType }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <p>
    {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}
    </p>

    <h2>Bienvenue sur l'application EasyCopro</h2>
    <h4>Vous êtes connecté en tant que <strong>{{ userType }}</strong></h4>
{% endblock %}

{% block scripts %}
{% endblock %}