# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: db4free.net
    database_port: 3306
    database_name: easycopro
    database_user: pp0088
    database_password: r7t8y9
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.root_dir%/../var/data/data.sqlite'

    mailer_transport: gmail
    mailer_host: smtp.gmail.com
    mailer_user: wcs.coprosyndic
    mailer_password: jecode4bordeaux

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
