# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: us-cdbr-iron-east-03.cleardb.net
    database_port: ~
    database_name: heroku_4bc57d81b2a908b
    database_user: b25fff1406d8a8
    database_password: aa5463d1
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.root_dir%/../var/data/data.sqlite'

    mailer_transport: gmail
    mailer_host: smtp.gmail.com
    mailer_user: wcs.coprosyndic
    mailer_password: jecode4bordeaux

    # A secret key that's used to generate certain security-related tokens
    secret: f8ec78eaacf2e4e6f29849bde00d7bdd08aa5ae2
