#copro-selector, #copro-selector a.dropdown-toggle{
     max-height: 49px;
     border:none;
}
#copro-selector a.dropdown-toggle{
    padding:5px 15px;
    background : rgba(119, 119, 119, 0)
}
#copro-selector a.dropdown-toggle:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
#copro-selector .dropdown-menu{
     width: 100%;   
}
#copro-selector li:not(.dropdown-header) i.fa{
    margin-top: 0.2em;   
}
#copro-selector .dropdown-menu .divider{
     margin: 0;   
}

.badge-menu-item{
     margin: 0.95em 0.3em;   
}


.navbar-form-custom .form-control {
    height: 35px;
    margin-top: 3px;
    border-radius:5px;
}

.widget-image > img {
    min-width: 100%!important;
}
.widget-image-content {
    background: rgba(0, 0, 0, .50);
}

.ariane h1, .ariane h2, .ariane h3, .ariane h4, .ariane h5, .ariane h6{
    float: left; 
    margin-top: 0px;
    margin-bottom: 12px;

}
.ariane li{
    float: left; 
    list-style: none;   
}
.content-header {
    margin:3px 0px 20px;
}
table a:hover{
     cursor:pointer;   
}


#all-coownerships-dropdown{
    max-height: 500px;
    overflow-y: scroll;
}

#coownerships-files .dropzone {
    position: relative;
    border: none!important;
    background-color: transparent!important;
    padding: 0!important;
    border-radius: 0px!important;
}

#coownerships-files .dz-message {
     display: none;   
}

#coownerships-providers .table tbody > tr > th, .table tbody > tr > td {
    padding-top: 12px;
    padding-bottom: 12px;
}

#coownerships-providers .table tbody > tr td:nth-of-type(1) {
    padding-left: 18px;
}

.btn .gi, .btn .hi, .btn .si, .btn .fi {
    line-height: 1.1;
}

.themed-background-muted-off{
    background: #EDEDED;
}

/** STYLE PERSONNALISES POUR LA BARRE DE TITRE **/
.titre-box {
    background-color: #1b6d85;
    margin-top: 50px;
    color: #FFF;
}
.titre-text {
    font-family: 'Raleway', sans-serif;
    padding-left: 15px;
    font-weight: 500;
    font-size: 20px;
}

/** STYLE PERSONNALISES POUR LE BREADCRUMB **/
ol.breadcrumb {
    background-color: #FFF;
    margin-bottom: 0;
}
/** STYLE PERSONNALISES POUR LE CONTENT **/
/** réduction du padding-top pris en compte dans la barre de titre */
#page-content {
    padding-top: 150px !important;
}