{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/css/fosuser_design.css') }}">
{% endblock fos_user_stylesheets %}

{% block fos_user_content %}
<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="logo-div text-center">
                <img class="logo" src="{{ asset('assets/img/logo.png') }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Mot de passe oublié ?</h2>
                        <p>Vous pouvez réinitialiser votre mot de passe ici, en indiquant votre adresse e-mail.</p>
                        <div class="panel-body">

                            {% include "@FOSUser/Resetting/request_content.html.twig" %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}

