{% extends '@AKYOSEasyCopro/BackOffice/layout.html.twig' %}

{% block title %}
    Création SYNDIC
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <h4>Créer un syndic :</h4>
{% endblock %}

{% block scripts %}
{% endblock %}
