{% extends '@AKYOSEasyCopro/BackOffice/layout.html.twig' %}

{% block title %}
    Modification SYNDIC
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <h4>Modifier un syndic :</h4>
    {{ form(form) }}
{% endblock %}

{% block scripts %}
{% endblock %}
