{% extends '@AKYOSEasyCopro/BackOffice/layout.html.twig' %}

{% block title %}
    {{ app.user.type }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <h2>Page d'accueil : compte SUPERADMIN</h2>

    <p>
    {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}
    </p>

    <ul>
        <li><a href="{{ path('akyos_easy_copro_backend_admin_create_syndic') }}">Créer un compte SYNDIC</a></li>
        <li><a href="{{ path('akyos_easy_copro_backend_admin_list_syndic') }}">Liste des comptes SYNDIC</a></li>
    </ul>
{% endblock %}

{% block scripts %}
{% endblock %}
