<li class="non-active"><a href="{{ path('admin_index') }}"><span class="glyphicon glyphicon-lock"></span> Accueil</a></li>
<li class="non-active"><a href="{{ path('admin_index') }}"><i class="fa fa-tachometer" aria-hidden="true"></i> Tableau de bord</a></li>
<li class="non-active">
    <a href="#" data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav01"
       class="collapsed">
        <span class="glyphicon glyphicon-inbox"></span> Mes Syndics<span
                class="caret pull-right"></span>
    </a>
    <div class="collapse" id="toggleDemo2" style="height: 0;">
        <ul class="nav nav-list">
            <li><a href="{{ path('admin_list_syndics') }}">Liste des syndics</a></li>
            <li><a href="{{ path('admin_create_syndic') }}">Créer un syndic</a></li>
        </ul>
    </div>
</li>
<li class="non-active"><a href=""><span class="glyphicon glyphicon-calendar"></span> Messagerie
        <span class="badge pull-right">3</span></a></li>
<li class="non-active"><a href=""><span class="glyphicon glyphicon-cog"></span> Préférences</a></li>