{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% block title %}
    Création de DOCUMENT
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block titre_page %}
    Création d'un document
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('syndic_index') }}">Dashboard</a></li>
    <li class="active">Créer un document</li>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block scripts %}
{% endblock %}
