{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% block title %}
    Création COPROPRIETE
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <h4>Créer une copropriété :</h4>
// TO DO
{% endblock %}

{% block scripts %}
{% endblock %}
