{% block title %}
    Modification LOCATAIRE
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <h4>Modifier un locataire :</h4>
    {{ form(form) }}
{% endblock %}

{% block scripts %}
{% endblock %}