{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% block title %}
    Modification LOT
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block titre_page %}
    Edition d'un lot
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('syndic_index') }}">Tableau de bord</a></li>
    <li class="active">Editer un lot</li>
{% endblock %}

{% block content %}
    {{ form(my_form) }}
{% endblock %}

{% block scripts %}
{% endblock %}