{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% set userType = app.user.type %}

{% block title %}
    {{ userType }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/backoffice/syndic_dashboard.css') }}">

{% endblock %}

{% block titre_page %}
    Dashboard
{% endblock %}

{% block breadcrumb %}
    <li class="active">Dashboard</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-3 col-lg-offset-1">
        <div class="widget">
            <div class="widget-image widget-image-xs">
                <img src="{{ asset('assets/img/city01.jpg') }}">
                <div class="widget-image-content">
                    <h2 class="widget-heading text-light"><strong>COPROPRIETES</strong></h2>
                </div>
            </div>
            <div class="widget-content">
                <div class="row text-center">
                    <div class="col-xs-5">
                        <h4 class="widget-heading"><small>DOCUMENTS</small><br><a href="javascript:void(0)" class="themed-color-flat">16</a></h4>
                    </div>
                    <div class="col-xs-7">
                        <h4 class="widget-heading"><small>COPROPRIÉTAIRES</small><br><a href="javascript:void(0)" class="themed-color-flat">7</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}
    {% endblock %}

{% block scripts %}
{% endblock %}

