{% extends '@AKYOSEasyCopro/BackOffice/layout.html.twig' %}
{% block body %}
    <div class="table-bordered">
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Immatriculation</th>
                <th>Date immatriculation</th>
                <th>Date modif immat</th>
                <th>Adresse principale</th>
                <th>Adresse secondaire</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Type de chauffage</th>
            </tr>
            </thead>
            <tbody>
            {% for copropriete in coproprietes %}
            <tr>
                <td><a href="{{ path('akyos_easy_copro_backoffice_syndic_show_copropriete', {'id':copropriete.id }) }}">{{ copropriete.nom }}</a></td>
                <td>{{ copropriete.immatriculation }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
