<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Vous êtes sur la page de l'admin {{ app.user.type }} pour la création de compte Artisan.</h3>


</body>
</html>