{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% block title %}
    Paramètres
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block titre_page %}
    Paramètres de l'application
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('syndic_index') }}">Dashboard</a></li>
    <li class="active">Mes paramètres</li>
{% endblock %}

{% block content %}

<div class="row">
</div>

{% endblock %}

{% block scripts %}
{% endblock %}

