{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% block content %}
    <div class="row">
        <!-- Message View -->
        <div id="message-view" class="block-section col-md-10 col-md-offset-1" style="background:#FFF">

        </div>
        <!-- END Message View -->
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}