{% extends '@AKYOSEasyCopro/BackOffice/Syndic/layout.html.twig' %}

{% block content %}
    <div class="row">
        <!-- Message View -->
        <div id="message-view" class="block-section col-md-10 col-md-offset-1" style="background:#FFF">

                <small class="pull-right"><em>reçu le {{ message.dateEnvoi|date('d/m/Y \\à h\\hi') }}</em></small></h3>
            <p>de <strong style="color: #45A7B9">{{ expediteurToString }}</strong></p>
            <!-- END Header -->

            <!-- Quick Reply Form -->
            <div class="row" style="margin-bottom: 20px;">
                {{ render(controller('AKYOSEasyCoproBundle:Syndic:replyMessage', {'message': message})) }}
            </div>
            <!-- END Quick Reply Form -->
        </div>
        <!-- END Message View -->
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}