{% extends '@AKYOSEasyCopro/BackOffice/Locataire/layout.html.twig' %}

{% set userType = app.user.type %}

{% block title %}
    {{ userType }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/backoffice/css/syndic_dashboard.css') }}">

{% endblock %}

{% block titre_page %}
    Dashboard
{% endblock %}

{% block breadcrumb %}
    <li class="active">Dashboard</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-9">
            <div class="row">
            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>


    {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}

{% endblock %}

{% block scripts %}
{% endblock %}

